<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    {% block style %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}
        <h1>Header</h1>
        <ul>
            <li><a href="{% url 'home:index' %}">Home</a></li>
            <li><a href="{% url 'articles:index' %}">Articles</a></li>
        </ul>
        {% endblock %}
    </header>

    <nav>
        {% block nav %}
        <p>Navigation</p>
        {% endblock %}
    </nav>

    <main>
        {% block main %}
        <p>Main</p>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>Footer</p>
        {% endblock %}
    </footer>
</body>
</html>
