{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/highlight.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'articles/css/comment.css' %}" />
{% endblock %}

{% block main %}

<article>
    <h1 class="display-1">{{ article.title }}</h1>
    <p>Published: {{ article.date_published }}</p>
    <p>Modified: {{ article.date_modified }}</p>

    {{ article.text_html|safe }}

</article>


{% include "articles/article_comments.html" %}


{% endblock %}
