<h1>{{ article.title }}</h1>
<p>Published: <time>{{ article.date_published }}</time></p>
<p>Modified: <time>{{ article.date_modified }}</time></p>

{{ article.text_html|safe }}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'articles:comment' article.id %}" method="post">
{% csrf_token %}
    <input type="text" name="alias" placeholder="Your name"><br />
    <textarea name="text" placeholder="Comment text"></textarea><br />
    <input type="submit" value="Submit comment" />
</form>

{% if article.comment_list %}
    <ul>
    {% for comment in article.comment_list %}
        <li>
            <p>Comment posted on <time>{{ comment.date_posted }}</time> by {{ comment.alias }}:</p>
            <p>{{ comment.text }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No comments are available.</p>
{% endif %}
